* {
  box-sizing: border-box;
  font-family: 'Nunito';
  line-height: 1.5;
  margin-right: auto;
  margin-left:  auto;
  max-width: 1200px;
  padding-right: 10px;
  padding-left:  10px;
}

header {
  background-color: black;
  position: absolute;
  border-radius: 0em; 
  width: 1200px;
  height: 60px;
  box-sizing: border-box;
  border: 5px black;
}

header > nav > h3 {
  color: light;
  display: flex;
  width: 600px;
  height: 60px;
  justify-content:left;
}

header > nav {
  background-color: black;
  top: 0;
  left: 10;
  width: 1100px;
  height: 60px;
}

header > nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: baseline;
  color: lavender;
  text-align: right;
  padding: 0px 0px ;
  text-decoration: none;
  font-size: 17px;
}


header > nav > ul {
  color: lavender;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content:right;
  padding-block-end: 20px;
  list-style: none;
}

body > .title {
  background-image: url(../Images/ice-cream-cones.jpg);
  width: 1200px;
  height: 900px;
  background-size: -10em;
  background-position: center;
  padding-block-start: 10px;
  margin-right: auto;
  margin-left:  auto;
  max-width: 1200px;
  padding-right: 10px;
  padding-left:  10px;
}

h1 {
  text-align: center;
  font-size: 7rem;
  font-family: 'Wix Madefor Display', sans-serif;
  color: white;
  text-shadow: 1px 2px 6px grey;
  padding-block-start: 250px;
}

.welcome {
  background-color: #9370db;
  width: 1300px;
  height: 500px;
  padding-block-start: 20px;
  margin-right: auto;
  margin-left:  auto;
  max-width: 1200px;
  padding-right: 10px;
  padding-left:  10px;
}

.welcome > h2 {
  color: #f2f2f2;
  font-family: 'Wix Madefor Display', sans-serif;
  padding-left: 100px;
  padding-top: 35px;
  font-weight: 800;
  font-size: 3rem;
}

.welcome > h3 {
  color: #f2f2f2;
  display: flex;
  width: 1000px;
  height: 300px;
  justify-content: left;
  font-family: 'Nunito';
  font-weight: 800;
  padding-right: 450px;
  font-size: 1.5rem;
}

.icecream {
  background-color: black;
  width: 1300px;
  height: 900px;
  padding-block-start: 20px;
  margin-right: auto;
  margin-left:  auto;
  max-width: 1200px;
  padding-right: 10px;
  padding-left:  10px;
}

.icecream > h2 {
  color: lavender;
  font-family: 'Wix Madefor Display', sans-serif;
  padding-left: 100px;
  padding-top: 35px;
  font-weight: 800;
  font-size: 3rem;
}

.icecream > .container {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 300px;
  min-height: 600px;
  min-width: 200px;
}

.icecream > .container > div {
  width: 1000px;
  height: 50px;
  justify-content: left;
}

.icecream > .container > div > h3 {
  color: #f2f2f2;
  justify-content: left;
  font-family: 'Nunito';
  font-weight: 800;
  font-size: 1.5rem;
}

.icecream > .container > div > p {
  color: #f2f2f2;
  justify-content: left;
  font-family: 'Nunito';
}

.team {
  background-color: #9370db;
  width: 1200px;
  height: 800px;
  padding-block-start: 20px;
  margin-right: auto;
  margin-left:  auto;
  max-width: 1200px;
  padding-right: 10px;
  padding-left: 10px;
}

.team > .team-info {
  background-color: #9370db;
  width: 1200px;
  height: 200px;
  padding-block-start: 20px;
  margin-right: auto;
  margin-left:  auto;
  max-width: 1200px;
  padding-right: 10px;
  padding-left: 10px;
}

.team > .team-info > h2 {
  color: #f2f2f2;
  font-family: 'Nunito';
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
}

.team > .team-info > p {
  color: #f2f2f2;
  font-family: 'Nunito';
  font-size: 1rem;
  text-align: center;
}

.team > .staff > div > h3 {
  color: #f2f2f2;
  font-family: 'Nunito';
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
}

.team > .staff > div > p {
  color: #f2f2f2;
  font-family: 'Nunito';
  font-size: 1rem;
  text-align: center;
}

.staff {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
}

.team > .staff {
  grid-column: 3;
  grid-row: 4;
  text-align: center;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 125px;
  height: 100px;
  border-radius: 150%;
}

footer {
  background-color: black;
  width: 1300px;
  height: 100px;
  padding-block-start: 20px;
  margin-right: auto;
  margin-left:  auto;
  max-width: 1200px;
  padding-right: 10px;
  padding-left:  10px;
}

footer > small {
  color: #f2f2f2;
  font-family: 'Nunito';
  font-size: 1rem;
  text-align: center;
}

{
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px; 
  column-gap: 10px;
  row-gap: 15px;
  align-self: center;
}