* {
  box-sizing: border-box;
  font-family: nunito;
}

header {
  background-color: black;
  border-radius: 0em; 
  width: 1100px;
  height: 60px;
  box-sizing: border-box;
  padding-block-start: 20px;
  padding-left: 50px;
  border: 5px black;
}

header > b {
  color: lavender;
  display: flex;
  justify-content:left;
}

nav > p {
  color: lavender;
  display: flex;
  flex-direction: row-reverse;
  justify-content:right;
  padding-block-end: 20px;
}

body > .title {
  background-image: url(../Images/ice-cream-cones.jpg);
  width: 1100px;
  height: 500px;
  background-size: -10em;
  background-position: center;
  padding-block-start: 10px;
}

.welcome {
  background-color: blueviolet;
  width: 1100px;
  height: 300px;
  padding-block-start: 20px;
}


h1 {
  text-align: center;
  font-size: 7rem;
  font-style: normal;
  color: white;
  text-shadow: 1px 2px 6px lightgrey;
  padding-block-start: 40px;
}